body {
    font-family: Arial, sans-serif;
    background-image: url('/app/stastic/background.jpg'); /* Abszolút útvonal a static könyvtárhoz */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 100px 20px;
    color: white;
}

main h1 {
    font-size: 3em;
}

main p {
    font-size: 1.2em;
}

.form-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    margin-top: 50px;
}

.form-container h2 {
    text-align: center;
    color: white;
}

.form-container label {
    color: white;
    display: block;
    margin-bottom: 10px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}